<main>
    <div class="theme-title">
        <app-welcome />
        @for (theme of themes; track theme._id) {
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a routerLink="/themes/theme-content/{{theme._id}}" class="normal">
                        <h2>{{theme.themeName}}</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>{{theme.created_at}}</time></p>
                            <div class="nick-name">
                                <p>Username: <span>{{theme.userId.username}}</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <button (click)="onSubscribe(theme)" class="subscribe">Subscribe</button>
                            <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</main>