html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 50px;
}

h1 {
    display: inline-block;
    margin-right: 50px;
}

header {
    border-bottom: 3px solid lightgray;
}

nav {
    display: inline-block;
}

li {
    padding: 10px;
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
}
