.contacts {
    background-color: #f2f0f3;
    color: #333;

    .contacts-heading {
        font-size: 3.6rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        border-bottom: 2px solid #333;
        padding-left: 10rem;
        padding-bottom: 1rem;
    }

    .contacts-text {
        display: inline-block;
        padding-left: 10rem;
        font-size: 1.6rem;
        line-height: 3rem;

        span {
            text-transform: uppercase;
            font-style: italic;
            font-weight: 600;
        }
    }

    .contacts-text:nth-child(3) {
        margin-bottom: 3rem;
    }

    form {
        display: flex;
        gap: 1rem;
        padding-left: 10rem;

        input {
            background-color: #bab1ad;
            border: none;
            border-radius: 4px;
            padding: 1.2rem 9rem 1.2rem 2rem;
        }

        input::placeholder {
            color: #fff;
            font-weight: 600;
        }

        button {
            background-color: #67784d;
            border: none;
            color: #fff;
            font-weight: 600;
            padding: 1.2rem 2rem;
            border-radius: 4px;
        }
    }
}
