body,
ul,
li {
    display: flex;
}

body {
    background-color: #eeeeee;
    padding: 50px;
    box-sizing: border-box;
    max-width: 1300px;
}

section ul {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 70px;
}

section ul li {
    width: 300px;
    height: 500px;
    border: 6px solid black;
    background-color: white;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section ul li img {
    object-fit: scale-down;
}
