.cta {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cta-heading {
    font-size: 2.6rem;
    color: #5f5f5f;
    margin-bottom: 0.6rem;
}

.cta-subheading {
    font-size: 1.3rem;
    color: #c3bcb8;
    margin-bottom: 2rem;
}

.cta .cta-btn {
    background-color: #974d1b;
    color: #fff;
    letter-spacing: 1.7px;
    font-size: 0.9rem;
    padding: 1.2rem 2.4rem;
}
