* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu';
}

body {
    font-size: 10px;
}

main {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a:link,
a:active {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a:visited,
a:hover {
    color: inherit;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
