.hero {
    height: 100vh;
    display: flex;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 -5rem;
}

.hero-text-container {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #56dbb1;
}

.hero-text {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    padding: 5rem 6rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
}
