.how {
    background-color: #353434;
    color: #fff;
    padding: 8rem;
}

.card-icon {
    background-color: #56dbb1;
    display: inline-block;
    font-size: 3rem;
    padding: 1.8rem;
}

.card-heading {
    font-size: 1.4rem;
}

.card-text {
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: center;
    color: #5b5956;
    border-top: 2px solid #eee;
    width: 87%;
    padding: 1.6rem 0;
}
