body {
    font-family: Arial, sans-serif;
    background-color: #381307;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 500px; /* Increase width for a larger calculator */
}

.display {
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
}

#display {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 36px;
    text-align: right;
}

#previous {
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(191, 187, 187);
    font-size: 28px;
    text-align: right;
}

button {
    background-color: #555;
    border: none;
    border-radius: 10px; /* Increase border-radius for rounder buttons */
    color: white;
    cursor: pointer;
    font-size: 30px; /* Increase font size for larger buttons */
    margin: 10px;
    padding: 35px 40px; /* Increase padding for larger buttons */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.operator {
    background-color: #f76d57;
}

.zero {
    grid-column: span 2;
}

button:active {
    background-color: #333;
}

button:focus {
    outline: none;
}
