<form class="register" #form="ngForm" (ngSubmit)="onRegister(form)">

    <fieldset>
        <h2>Registration Form</h2>

        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input ngModel #usernameInput="ngModel" required minlength="5" class="input-error" type="text"
                name="username" id="username" placeholder="Johny">
        </p>
        @if (usernameInput.touched && usernameInput.errors?.['required']) {
        <p class="error">
            Username is required!
        </p>
        }
        @if (usernameInput.touched && usernameInput.errors?.['minlength']) {
        <p class="error">
            Username must be atleast 5 chars long!
        </p>
        }

        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input ngModel #emailInput="ngModel" required [appEmail]="appEmailDomains" type="email" name="email"
                id="email" placeholder="john.doe@gmail.com">
        </p>
        @if(emailInput.touched) {
        @if(emailInput.errors?.['required']) {
        <p class="error">
            Email is required!
        </p>
        }
        @if(emailInput.errors?.['appEmailValidator']) {
        <p class="error">
            Email is not valid!
        </p>
        }
        }

        <!-- telephone -->
        <p class="field field-icon">
            <label for="tel"><span><i class="fas fa-phone"></i></span></label>
            <select name="select-tel" id="select-tel" class="tel">
                <option value="00359">+359</option>
            </select>
            <input ngModel #tel="ngModel" type="text" name="tel" id="tel" placeholder="885 888 888">
        </p>

        <!-- password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input ngModel #password="ngModel" type="password" required minlength="4" name="password" id="password"
                placeholder="******">
        </p>
        @if (password.touched) {
        @if (password.errors?.['required']) {
        <p class="error">
            Password is required!
        </p>
        }
        @if (password.errors?.['minlength']) {
        <p class="error">
            Password must be at least 4 characters!
        </p>
        }
        }

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
            <input ngModel #rePassword="ngModel" type="password" name="rePassword" id="rePassword" placeholder="******">
        </p>
        @if (password.value?.trim() !== rePassword.value?.trim()) {
        <p class="error">Repeat Password does not match password!</p>
        }

        <button [disabled]="form.invalid" [ngStyle]="{'cursor': form.invalid ? 'not-allowed' : 'pointer'}">Create
            Account</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </fieldset>
</form>