<div class="profile">
    <img src="../../../assets/profile.png" alt="default user">
    <h3>User Info:</h3>
    <form #form="ngForm">
        <div class="flex">
            <p>Username: </p>
            <input ngModel #usernameInput="ngModel" required minlength="5" [ngModel]="user?.username" type="text"
                name="username" id="username">
        </div>
        @if(usernameInput.touched) {
        @if(usernameInput.errors?.['required']) {
        <p class="error">
            Username is required!
        </p>
        }
        @if(usernameInput.errors?.['minlength']) {
        <p class="error">
            Username must be atleast 5 symbols!
        </p>
        }
        }
        <div class="flex">
            <p>Email: </p>
            <input ngModel #emailInput="ngModel" [appEmail]="appEmailDomains" required [ngModel]="user?.email"
                type="email" name="email" id="email">
        </div>
        @if (emailInput.touched) {
        @if(emailInput.errors?.['appEmailValidator']) {
        <p class="error">
            Email is not valid!
        </p>
        }
        @if (emailInput.errors?.['required']) {
        <p class="error">
            Email is required
        </p>
        }
        }
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="tel" id="tel" [ngModel]="user?.tel">
            </div>
        </div>
        <button (click)="onCancel()" class="red-button">Cancel</button>
        <button (click)="onSave(usernameInput.value, emailInput.value)" class="green-button">Save</button>
    </form>
</div>