<h1>Cat Shelter</h1>
<form action='#' method='' class='cat-form'>
    <h2>Shelter the cat</h2>
    <img alt='cat' src={{cat.image}} />
    <label for='name'>Name</label>
    <input type='text' id='name' value={{cat.name}} disabled />
    <label for='description'>Description</label>
    <textarea id='description' disabled>{{cat.description}}</textarea>
    <label for='group'>Breed</label>
    <select id='group' disabled>
        <option value='Fluffy Cat'>{{cat.breed}}</option>
    </select>
    <button>SHELTER THE CAT</button>
</form>