<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                @if(isLoggedIn) {

                <li>
                    <a routerLink="/profile">{{user?.username}}'s profile</a>
                </li>
                <li>
                    <a (click)="onLogout()">Logout</a>
                </li>
                } @else {
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                }
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/themes/add-theme">New Theme</a>
            </li>
        </ul>
    </nav>

</header>