<main class='create'>
    <!-- Create Page (Only for logged-in users) -->
    <section id='create'>
        <div class='form'>
            <h2>Add item</h2>
            <form class='create-form' method='' action='#'>
                <input type='text' name='' id='name' placeholder='Name' />
                <input type='text' name='' id='years' placeholder='Years' />
                <input type='text' name='' id='kind' placeholder='Kind' />
                <input type='text' name='' id='animal-img' placeholder='Image url' />
                <input type='text' name='' id='needs-of' placeholder='Needs of' />
                <input type='text' name='' id='location' placeholder='Location' />
                <textarea id='description' placeholder='Description...' name=''></textarea>

                <button type='submit'>Post</button>
            </form>
        </div>
    </section>
</main>