<main class='details'>
    <!-- Details page -->
    <section id='details'>
        <div id='details-wrapper'>
            <p id='details-title'>Name: Show</p>
            <div id='img-wrapper'>
                <img src='/static/images/animal1.jpg' />
            </div>
            <div id='info-wrapper'>
                <table>
                    <tr>
                        <td>
                            <p>
                                Years:
                                <span id='details-years'>5</span>
                            </p>
                        </td>
                        <td>
                            <p>Kind: <span id='details-kind'>Lion</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Need of: <span id='details-need'>Medicine</span></p>
                        </td>
                        <td>
                            <p>Location: <span id='details-location'>San Diego Zoo</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description:
                    <span id='details-description'>Your donation goes a long way towards our cause. Every dollar and item donated
                        goes to the care of lions, animals, and caretakers in urgent need, as well as providing grants to
                        exceptional sanctuaries, and emergency relief efforts in the US and around the world. Tell us where you'd
                        like your gift to go and we will customize your introductory packet to your preferences!</span></p>
            </div>

            <!--Edit and Delete are only for creator-->
            <div id='action-buttons'>
                <a href='#' id='edit-btn'>Edit</a>
                <a href='#' id='delete-btn'>Delete</a>
                <a href='#' id='donation-btn'>Donation</a>
                <p id='already-donated'>You already donated!</p>
            </div>
        </div>
    </section>
</main>