<main class='login'>
    <!-- Login Page (Only for Guest users) -->
    <section id='login'>
        <div class='form'>
            <h2>Login</h2>
            <form class='login-form' method='' action='#'>
                <input type='text' name='' id='email' placeholder='email' />
                <input type='password' name='' id='password' placeholder='password' />
                <button type='submit'>Login</button>
                <p class='message'>
                    Not registered?
                    <a href='#'>Create an account</a>
                </p>
            </form>
        </div>
    </section>
</main>