<main class='register'>
    <!-- Register Page (Only for Guest users) -->
    <section id='register'>
        <div class='form'>
            <h2>Register</h2>
            <form class='login-form' method='' action='#'>
                <input type='text' name='' id='register-email' placeholder='email' />
                <input type='password' name='' id='register-password' placeholder='password' />
                <input type='password' name='' id='repeat-password' placeholder='repeat password' />
                <button type='submit'>Register</button>
                <p class='message'>Already registered? <a href='#'>Login</a></p>
            </form>
        </div>
    </section>
</main>