.header {
  border-radius: 5px 5px 0 0;
  padding: 40px;
  background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}

h1 {
  color: var(--light);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.todo-input {
  width: 80%;
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.btn-add {
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
