body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article {
    display: inline-block;
    width: 60%;
}

img {
    width: 60%;
}

aside {
    display: inline-block;
    position: absolute;
}

a {
    color: blue;
}
