<h1>Login page</h1>

<form method='POST' action='/auth/login'>
    <label>Username: <input type='text' name='username' value='{{body.username}}' /></label>
    <label>Password: <input type='text' name='password' /></label>
    <input type='submit' value='Login' />
</form>