body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    width: 60%;
    overflow: hidden;
    gap: 15px;
}

.container div {
    width: 15%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.container div:nth-child(2) {
    width: 100%;
    background-color: black;
}

.container div img {
    padding: 0;
    margin: 0;
    height: 100%;
}
