body {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 0 20px;
    border-bottom: 2px solid;
    text-transform: uppercase;
}

header {
    font-size: 1.4rem;
}

main {
    padding: 20px;
    font-family: Georgia, serif;
}

main h2 {
    font-weight: normal;
    font-size: 2rem;
}

footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 0 20px;
}
