.fas {
  pointer-events: none;
}

.todo {
  width: 800px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  text-align: center;
}

.error-info {
  margin-top: 20px;
  color: var(--dark-blue);
}

.btn-add:hover {
  color: #fff;
  background-color: var(--light-dark);
}

.todolist {
  padding: 20px 0;
}

.todolist h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.todolist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  background-color: var(--light);
}

.tools {
  display: inline-block;
}

.tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #ddd;
}

.complete {
  color: var(--light-blue);
}

.edit {
  font-weight: bold;
  color: rgb(15, 179, 69);
}

.delete {
  color: tomato;
}

.completed {
  font-size: 12px;
  color: var(--light-dark);
  text-decoration: line-through;
  font-style: italic;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  color: var(--light);
  background-color: var(--light-dark);
  border-radius: 5px;
}

.popup h3 {
  padding: 20px;
}

.popup-info {
  color: var(--light);
  margin-bottom: 20px;
}

.popup-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

.popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.popup-btn {
  width: 30%;
  display: inline-block;
  padding: 10px 22px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.popup-btn:hover {
  color: #fff;
  background-color: var(--light-blue);
}
