<div class="todolist">
    <h3>List of Works Todo:</h3>
    <p class="error-info"></p>
    <ul>
        <li data-id='test1' class="completed">Shopping with class "completed"
            <div class="tools">
                <app-button buttonClass="complete"><i class="fas fa-check"></i></app-button>
                <app-button buttonClass="edit">EDIT</button>
                    <app-button buttonClass="delete"><i class="fas fa-times"></i></button>
            </div>
        </li>
        <li data-id='test2'>Rent Pay
            <div class="tools">
                <app-button buttonClass="complete"><i class="fas fa-check"></i></button>
                    <app-button buttonClass="edit">EDIT</button>
                        <app-button buttonClass="delete"><i class="fas fa-times"></i></button>
            </div>
        </li>
        <li data-id='test3'>Cleaning
            <div class="tools">
                <app-button buttonClass="complete"><i class="fas fa-check"></i></button>
                    <app-button buttonClass="edit">EDIT</button>
                        <app-button buttonClass="delete"><i class="fas fa-times"></i></button>
            </div>
        </li>
    </ul>
</div>