.todolist {
  padding: 20px 0;
}

.todolist h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.todolist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  background-color: var(--light);
}

.fas {
  pointer-events: none;
}

.tools {
  display: inline-block;
}

.tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #ddd;
}

.complete {
  color: var(--light-blue);
}

.edit {
  font-weight: bold;
  color: rgb(15, 179, 69);
}

.delete {
  color: tomato;
}

.error-info {
  margin-top: 20px;
  color: var(--dark-blue);
}
