<div class="todolist">
    <h3>List of Works Todo:</h3>
    <p class="error-info"></p>
    <ul>
        <li *ngFor="let todo of todos">
            <p>{{todo.todo}}</p>
            <div class="tools">
                <app-button buttonClass="action-button complete"><i class="fas fa-check"></i></app-button>
                <app-button buttonClass="action-button edit">EDIT</app-button>
                <app-button buttonClass="action-button delete"><i class="fas fa-times"></i></app-button>
            </div>
        </li>
    </ul>
</div>