body {
    background-color: rgb(238, 238, 238);
    padding: 50px 70px;
}

.page {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.page header {
    width: 100vw;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.page header h1 {
    font-family: sans-serif;
    text-transform: uppercase;
}

.page main {
    width: 70%;
    padding-right: 9%;
}

.page main section {
    margin-bottom: 50px;
}

.page main h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.5rem;
}

.page main section:nth-child(1) img {
    float: right;
    height: 200px;
    margin: 0 10px 10px 10px;
}

.page main section img {
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.page main section blockquote {
    float: right;
    width: 49%;
    color: rgb(0, 0, 0, 0.5);
    font-family: Georgia, serif;
    border-left: 3px solid rgb(0, 0, 0, 0.1);
    padding-left: 40px;
    box-sizing: border-box;
    align-content: start;
    height: 180px;
    margin-top: 0;
    margin-bottom: 0;
}

.page main section blockquote p {
    margin: 0;
    font-style: italic;
}

.page main section blockquote h3 {
    text-align: right;
    font-weight: normal;
    font-style: italic;
}

.page main section:nth-child(3) img {
    float: left;
    margin: 0 20px 20px 0;
}

.page main p {
    font-size: 1.2rem;
}

.page aside {
    width: 20%;
}

.page aside h3 {
    font-family: Georgia, serif;
}

.page aside ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}
