body {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 100px auto;
    gap: 10px;
}

header,
aside,
main,
footer {
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header {
    grid-area: header;
}

header h1 {
    display: inline-block;
    text-align: middle;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}
