<form class="login" #form="ngForm" (ngSubmit)="onLogin(form)">

    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input ngModel #emailInput="ngModel" required [appEmail]="appEmailDomains" class="input-error" type="email"
                name="email" id="email" placeholder="john.doe@gmail.com">
        </p>
        @if(emailInput.touched) {
        @if(emailInput.errors?.['required']) {
        <p class="error">
            Email is required!
        </p>
        }
        @if(emailInput.errors?.['appEmailValidator']) {
        <p class="error">
            Email is not valid!
        </p>
        }
        }

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input #passwordInput="ngModel" ngModel required minlength="4" type="password" name="password" id="password"
                placeholder="******">
        </p>

        @if (passwordInput.touched) {
        @if (passwordInput.errors?.['required']) {
        <p class="error">
            Password is required!
        </p>
        }
        @if (passwordInput.errors?.['minlength']) {
        <p class="error">
            Password must be at least 4 characters!
        </p>
        }
        }

        <button [disabled]="form.invalid"
            [ngStyle]="{'cursor': form.invalid ? 'not-allowed' : 'pointer'}">Login</button>
        <p class="text-center">
            Have an account?
            <a routerLink="/register">Register</a>
        </p>

    </fieldset>
</form>