* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'PT Sans';
    font-size: 62.5%;
}

body {
    font-size: inherit;
}

main {
    width: 100%;
    position: relative;
}

.section-heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.section-heading::after {
    content: '';
    background-color: #d01919;
    width: 6rem;
    height: 0.3rem;
    position: absolute;
    left: 93rem;
    bottom: 38rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a:link,
a:active {
    display: inline-block;
    text-decoration: none;
}

.grid {
    display: grid;

    justify-content: center;
    align-items: center;
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}
