<main>
    {{#if errors}}
        <div>
            <div class='errorContainer'>
                {{#each errors}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class='register-box'>
        <h1>Register</h1>
        <h4>It's free and only take a minute</h4>
        <form action='/auth/register' method='POST'>
            <label for='username'>Username</label>
            <input type='text' name='username' id='username' placeholder='Username..' value='{{body.username}}' />
            <label for='email'>Email</label>
            <input type='text' name='email' id='email' placeholder='Email..' value='{{body.email}}' />
            <label for='password'>Password</label>
            <input type='password' name='password' id='password' placeholder='Password..' />
            <label for='repass'>Confirm Password</label>
            <input type='password' name='repass' id='repass' placeholder='Confirm Password..' />
            <input type='submit' value='Submit' />
        </form>
        <p>Already have an account? <a href='/auth/login'>Login here</a></p>
    </div>
</main>