@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'general.css';
@import 'header.css';
@import 'hero.css';
@import 'about.css';
@import 'payment.css';
@import 'footer.css';
