.payment {
    padding: 0 12rem 11rem 11rem;

    .payment-heading {
        font-size: 3rem;
        font-weight: 500;
        color: #54546d;
        margin-bottom: 3rem;
    }

    .payment-content {
        display: flex;
        gap: 10rem;

        .payment-content-text {
            font-size: 1.85rem;
            font-weight: 500;
            color: #565656;
            margin-bottom: 6rem;

            p:first-child {
                margin-bottom: 3rem;
            }
        }

        .payment-content-logo {
            width: 90%;

            img {
                width: 100%;
            }
        }
    }
}
