* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: rgb(0, 132, 255);
  --dark-blue: rgb(2, 84, 161);
  --light: rgb(245, 245, 245);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--light);
}

.completed {
  font-size: 12px;
  color: var(--light-dark);
  text-decoration: line-through;
  font-style: italic;
}
