.popup {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  color: var(--light);
  background-color: var(--light-dark);
  border-radius: 5px;
}

.popup h3 {
  padding: 20px;
}

.popup-info {
  color: var(--light);
  margin-bottom: 20px;
}

.popup-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

.popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.popup-btn {
  width: 30%;
  display: inline-block;
  padding: 10px 22px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.popup-btn:hover {
  color: #fff;
  background-color: var(--light-blue);
}
