<section id='registerPage'>
    <form id='registerForm' action='/auth/register' method='POST'>
        <label for='email'>Email:</label>
        <input type='text' id='email' name='email' placeholder='Email' />

        <label for='username'>Username:</label>
        <input type='text' id='username' name='username' placeholder='Enter your Username' />

        <label for='password'>Password:</label>
        <input type='password' id='password' name='password' placeholder='Password' />

        <label for='rePassword'>Repeat Password:</label>
        <input type='password' id='rePassword' name='rePass' placeholder='Repeat Password' />

        <input type='submit' class='register' value='Register' />
    </form>
</section>