body {
    background-color: rgb(238, 238, 238);
    padding: 60px;
}

.header p,
.header nav,
.header nav ul li,
main,
aside {
    display: inline-block;
}

.header {
    border-bottom: 2px solid;
    position: relative;
}

.header p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 3em;
    margin: 10px 0;
}

.header nav {
    top: 10px;
    right: 0;
    position: absolute;
}

.header nav ul {
    padding: 0;
    margin: 0;
}

.header nav ul li {
    padding: 0 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}

main {
    width: calc(80% - 30px);
}

main article {
    padding: 0;
    font-size: 35px;
}

main article:first-child section img {
    float: right;
    height: 200px;
    border: 4px solid white;
    box-shadow: 0 0 1px 2px black, 0 0 10px 5px rgb(0, 0, 0, 0.25);
    margin: 0 30px;
}

main article section p {
    font-size: 0.6em;
}

main article:nth-child(2) section blockquote {
    float: right;
    margin: 0 15px;
    width: 50%;
    font-family: Georgia, serif;
    font-style: italic;
    opacity: 80%;
    border-left: 3px solid rgb(0, 0, 0, 0.15);
    padding: 0 10px;
    height: 200px;
}

main article:nth-child(2) section blockquote p {
    padding: 0 10px;
    margin-top: 0;
}

main article:nth-child(2) section blockquote p:last-child {
    float: right;
}

main article:last-child section img {
    float: left;
    border: 4px solid white;
    box-shadow: 0 0 1px 2px black, 0 0 10px 5px rgb(0, 0, 0, 0.25);
    margin-right: 35px;
    margin-bottom: 30px;
}

aside {
    vertical-align: top;
    position: relative;
    width: calc(20% - 30px);
}

aside section {
    padding: 0 50px;
    font-size: 25px;
}

aside section h3,
main article header h1 {
    font-family: Georgia, serif;
    font-weight: lighter;
    font-size: 1em;
}

aside section nav ul li {
    font-size: 0.6em;
}

aside section nav ul li a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}
