.header {
    max-width: 100%;
    margin: 0 5rem 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 2rem 0;
}

.logo-container img {
    width: 11rem;
}

.nav-list {
    display: flex;
    gap: 3.6rem;
}

.nav-list-item {
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.nav-list-link {
    color: #000;
    font-weight: 300;
}

.header-btn {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #fff;
}
